---
---
$theme_color: #1149b6;

body {
  padding-bottom: 15px;
}

.about {
  font-family: Playfair Display;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color: #000 !important;
}

label.hello {
  padding-top: 80px;
  font-family: Montserrat-Bold;
  font-size: 110px;
  color: $theme_color;
  letter-spacing: -2px;
}

p {
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.2px;
  padding-bottom: 28px;
}

.mailto {
  text-decoration: underline;
  &:link {
    color: $theme_color;
  }
}


.footer {
  padding-top: 100px;
}

/*----------------------*/
@media (max-width:767px) {
  p {
    font-size: 35px;
    line-height: 43px;
  }
}