---
---

$theme_color: #000;
$arrow_size: 20px;
$mobile_arrow_size: 16px;
$arrow_margin: -30px;

.navigator {
  .arrows {
    margin-left: auto;
    margin-right: auto;
    .back-home {
      display: none;
    }

    .arrow {
      pointer-events: all;
      
      &.left-arrow {
        float: left;
        margin-left: $arrow_margin;

        .img {
          width: 0; 
          height: 0; 
          border-top: $arrow_size solid transparent;
          border-bottom: $arrow_size solid transparent; 
          border-right: $arrow_size solid #eaeaea; 
        }
        
        &:hover .img {
          border-right: $arrow_size solid $theme_color; 
        }
      }
      &.right-arrow {
        float: right;
        margin-right: $arrow_margin;

        .img {
          width: 0; 
          height: 0; 
          border-top: $arrow_size solid transparent;
          border-bottom: $arrow_size solid transparent;
          border-left: $arrow_size solid #eaeaea;
        }

        &:hover .img {
          border-left: $arrow_size solid $theme_color; 
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .virtical-center-container {
    pointer-events: unset;
  }

  .navigator {
    position: relative;
    padding-top: 20px;
    .arrows {
      .arrow {
        display: inline-block;
        &.left-arrow {
          margin-left: 0px;
          .img {
            border-top: $mobile_arrow_size solid transparent;
            border-bottom: $mobile_arrow_size solid transparent; 
            border-right: $mobile_arrow_size solid #000; 
          }

          &:hover .img {
            border-right: $mobile_arrow_size solid $theme_color; 
          }
        }
        &.right-arrow {
          margin-right: 0px;
          .img {
            border-top: $mobile_arrow_size solid transparent;
            border-bottom: $mobile_arrow_size solid transparent;
            border-left: $mobile_arrow_size solid #000;
          }

          &:hover .img {
            border-left: $mobile_arrow_size solid $theme_color; 
          }
        }
      }

      .back-home {
        color: #000;
        display: inline-block;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;

        padding-top: 9px;
        cursor: pointer;
      }
    }
  }

}

.portfolio-detail {
  font-family: Playfair Display;
  font-weight: normal;
  padding-top: 70px;
  padding-bottom: 70px;
  p {
    font-size: 20px;
    line-height: 29px;
    text-align: left;
    letter-spacing: 0.2px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    &:last-child {
      padding-bottom: 0px;
    }
  }
}

@media (min-width: 768px) {
  .navigator {
    .arrows {
      width: 750px;
    }
  }
}
@media (min-width: 992px) {
  .navigator {
    .arrows {
      width: 970px;
    }
  }
}
@media (min-width: 1200px) {
  .navigator {
    .arrows {
      width: 1170px;
    }
  }
}
