---
menu: portfolio
layout: default
title: Portfolio
styles:
  - portfolio.css
scripts:
  - portfolio.js
---
    <div class="page-title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
        <div class="row detail">
          <div class="col-xs-3 col-sm-2 col-md-1 f-bold">CLIENT</div>
          <div class="col-xs-9 col-sm-10 col-md-11">{{ page.client }}</div>
        </div>
        <div class="row detail">
          <div class="col-xs-3 col-sm-2 col-md-1 f-bold">AGENCY</div>
          <div class="col-xs-9 col-sm-10 col-md-11">{{ page.agency }}</div>
        </div>
        <div class="row detail">
          <div class="col-xs-3 col-sm-2 col-md-1 f-bold">ROLE</div>
          <div class="col-xs-9 col-sm-10 col-md-11">{{ page.role }}</div>
        </div>
        {% if page.award %}
        <div class="row detail">
          <div class="col-xs-3 col-sm-2 col-md-1 f-bold">AWARD</div>
          <div class="col-xs-9 col-sm-10 col-md-11">{{ page.award }}</div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="small-section">
      <div class="container">
        <div class="row">
          {% for image in page.images %}
          <div class="col-md-12">
            <img class="portfolio-image img-responsive" src="../../images/portfolio/{{ image }}">
          </div>
          {% if forloop.index == 1 %}
          <div class="col-md-12 portfolio-detail">
            <p>The Jewish Community Center of San Francisco is the oldest Jewish center on the West Coast providing educational, social, cultural and fitness programs to the community. Along with the updated mission and vision, the JCCSF wanted to refresh their presence to the community with more friendly, approachable but vibrant look to invite a bigger audience.</p>

            <p>As a freelance director / designer, I was invited to bring creative ideas and executions for this project from the beginning. I was then became the sole owner of the project once the theme of “layering of colors - coming together” was approved by the stakeholders. Star of David was removed from its old logo and new mark stayed rather simple to be universal. The layering of colors was used for the visual library of patterns and icons where each division got its own distinct look.</p>
            
            <p>With the approvals of all visuals and statements, I developed a very extensive brand guidelines with detailed directions for visual elements. Based on the guidelines developed, I updated their UI, interior/exterior graphics, digital/print materials, and event collateral.</p>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <div class="navigator virtical-center-container">
      <div class="virtical-center">
        <div class="arrows row">
          <div class="col-xs-2"><a class="arrow left-arrow" href="{% if page.previous.url %}{{ page.previous.url }}{% else %}{{ site.portfolios.last.url }}{% endif %}"><div class="img"></div></a></div>
          <div class="col-xs-8"><a class="back-home" href="{{ site.baseurl }}/">Back to main</a></div>
          <div class="col-xs-2"><a class="arrow right-arrow" href="{% if page.next.url %}{{ page.next.url }}{% else %}{{ site.portfolios.first.url }}{% endif %}"><div class="img"></div></a></div>
        </div>
      </div>
    </div>
